*.o
*.obj
*.exe
*.map
*.pdb
*.res
.gitignore
.depend.*
config.h
parse-vcxproj.py
MSVC_obj/*
Makefile.Cygwin
Makefile.MSVC
Makefile.MingW
Makefile.Watcom
Makefile.Windows
test.vcxproj
test.mak
link.tmp
zip-and-upload.mak
test-mako.py
t